<form>
  <h2>Formulário</h2>
  <label for='titulo'>
    <input id='titulo' type='text' name='titulo' />
  </label>
  <label for='conteudo'>
    <textarea name='conteudo' id='conteudo' cols='30' rows='10'></textarea>
  </label>
  <button type='submit'>Cadastrar postagen</button>
</form>